@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,700|Krona+One|Titillium+Web:900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Catamaran:800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  /* background-color: #d1adad; */
  text-align: center;
  height: 100%;
  width: 100%;
}

.form-page {
  display: grid;
  grid-template-rows: 66px auto;
  grid-row-gap: 0;
  height: 100%;
  /* background-color: aliceblue */

  /* display: none; */
}

.form-page header {
  /* position: fixed; */
  /* text-align: center;
  background-color: blue;
  height: 100%; */
  /* z-index: 5; */

  grid-row: 66px;
}

.banner#banner {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 16px;
  /* background-color: #000000; */
  color: #1d1d1d;
  font-family: "Krona One", sans-serif;
  font-size: 1em;
}

.form-page header p a:first-child {
  color: #333333;
  cursor: pointer;
}

.why-na {
  /* *styles the button as an achor tag/link */
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: "Krona One", sans-serif;
  font-size: 1em;
  text-decoration: underline;
  cursor: pointer;

  color: #333333;
}

.why-na:hover {
  color: #000000;
}

.why-na-modal {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;

  z-index: 100;
  padding: 0 2%;

  line-height: 200%;

  background-color: #393e46;
  color: #cfcfcf;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.why-na-modal p:first-child {
  margin: 15px 0 0px;
}

.why-na-modal p:last-child {
  margin: 0px 0 15px;
}

.why-na-modal p a {
  color: white;
}

.why-na-modal p a:hover {
  font-weight: bold;
  cursor: pointer;
}

.why-na-modal p span:first-child {
  display: block;
  line-height: 140%;
}

.why-na-modal p span:last-child {
  display: block;
  line-height: 140%;
  font-style: italic;
  font-size: 0.8em;
}

.why-na-modal ul {
  text-align: left;
  font-weight: bold;
  margin: 2px 0;
}

.why-na-modal ul li:first-child {
  color: rgba(204, 145, 145, 0.87);
}
.why-na-modal ul li:nth-child(2) {
  color: rgba(255, 246, 116, 0.69);
}
.why-na-modal ul li:nth-child(3) {
  color: #9bd1a7;
}
.why-na-modal ul li:last-child {
  color: #8dbfe6;
}

.outside-modal {
  filter: blur(4px);
}

.why-na-modal {
  display: none;
}

.split-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 0;
  width: 100%;
}

.split {
  display: block;
  height: 62px;
}

.red1 {
  background-color: #ac3e3e;
  border-bottom: #0d4fb1 4px solid;
}

.yellow1 {
  background-color: rgba(218, 210, 30, 0.56);
  border-bottom: #2c6f4a 4px solid;
}

.green1 {
  background-color: #2c6f4a;
  border-bottom: rgba(218, 210, 30) 4px solid;
}

.blue1 {
  background-color: #0d4fb1;
  border-bottom: #ac3e3e 4px solid;
}

.blur-form-page-body {
  filter: blur(20px);
}

.form-page-body {
  grid-row: 2/5;
}

.form-page-overlay {
  /* grid-row: 1/4; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* !This height needs to be optimised for other screens! */
  height: calc(100% - 66px);
  background-color: beige;
}

.form-page-overlay div {
  display: block;
  height: 100%;
}

.red2 {
  background: rgba(209, 173, 173, 0.87);
}

.yellow2 {
  background: rgba(233, 232, 206, 0.69);
}

.green2 {
  background: #cfd8d1;
}

.blue2 {
  background: #bed8ec;
}

.outside-overlay {
  position: relative;
}

.outside-overlay p {
  margin: 2.5% auto;
  margin-bottom: 5%;
  color: #494949;
  font-size: 3em;
}

.outside-overlay p span {
  display: block;
  color: #1a1a1a;
  font-size: 55%;
  margin-top: 1%;
}

.outside-overlay input {
  background-color: transparent;
  font-size: 12em;
  text-align: center;
  padding: 0;
  border: none;
  border-bottom: black solid 4px;
  /* !This width needs to be optimised for other screens! */
  width: 78%;
  height: 1em;
  font-family: "Catamaran", sans-serif;
  font-weight: 900;
  outline: 0;

  text-transform: lowercase;

  /** added to remove default mobile form box-shadow inset */
  -webkit-appearance: none;
}

.outside-overlay input::placeholder {
  color: #b4b4b4;
}

.outside-overlay button {
  margin-top: 10%;
  color: #494949;
  font-size: 4em;
  font-family: "Titillium Web", sans-serif;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.8);
  border-radius: 40px;
  height: 1.7em;
  width: 4em;
  padding-bottom: 0.5em;

  /** added to remove default mobile form box-shadow inset */
  -webkit-appearance: none;

  color: black;
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  cursor: pointer;
  outline: 0;
}

.done-button span {
  /* *Gives the text a border */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

.d {
  color: #0d4fb1;
  /* border: 2px solid #000000; */
}

.o {
  color: #2c6f4a;
}

.n {
  color: rgba(218, 210, 30, 0.56);
}

.e {
  color: #ac3e3e;
}

/* .done-button span:hover {
  color: #000000;
} */

.done-button:hover {
  background-color: #dbdbdb;
}
